*{
    box-sizing: border-box;
    padding: 20px;
    background-color: rgb(208, 235, 193);
}
h1{text-align: center;
    color: rgb(59, 39, 12);
    font-size: 40px;
    font-family:fantasy;
    font-weight: bolder;
    margin-top: 20px;
    margin-bottom: 20px;
}
#menu{
    overflow: hidden;
    background-color: rgb(32, 58, 24);
    width: 100%;
    padding-top: 10px;
    padding-bottom: 10px;
}
#menu ul li{
    float: left;
    display: inline-block;
    margin-left: 235px;
    background-color: rgb(32, 58, 24);
    color: rgb(224, 219, 211);
    font-size: 40px;
}

h2{
    text-align: center;
    color: rgb(59, 39, 12);
    font-size: 40px;
    font-family:fantasy;
    font-weight: bolder;
    margin-top: 10px;
}
img{
    margin-top: 30px;
    margin-left: 30px;
    border: 1px solid black;
    width: 400px;
    height: 400px;
}
button{
    margin-top: 30px;
    margin-left: 540px;
    border: 2px solid black;
    width: 250px;
    cursor: pointer;
    font-size: x-large;
    font-weight: bolder;
    border-radius: 15px;
    color: blanchedalmond;
    background-color: rgb(149, 151, 14);
}
div{
    margin-top: 30px;
}
ul{
    text-align: center;
    margin-top: 50px;
    margin-left: 30px;
    color: rgb(126, 88, 38);
    font-size: 25px;
    font-family:Times, 'Times New Roman', serif;
    font-weight: bold;
}
ul li{
    margin-bottom: 30px;
}
